html body{
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}
html{
    font-size: 8px;
    background-size: cover;
}
body {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #f5f6fa; /* Optional: light background */
}
.start{
    text-align: center;
    margin-bottom: 0px;
}
.score{
    color: #685e72;
    text-align: center;
    font-size: 4rem;
    padding: 0px;
}
.title {
    display: inline-block;
    background-color: #feca57; /* Highlight color */
    padding: 10px 10px;
    font-family: 'Sofia', sans-serif;
    font-size: 6rem;
    color: #2d3436;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px auto;
}

.game{
    width: 800px;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hole{
    flex:1 0 33%;
    overflow: hidden;
    position: relative;
}

.hole:after{
    display: block;
    background: url("dirt.svg") bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}
.mole{
    background: url("mole.svg") bottom center no-repeat;
    background-size: 30%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.hole.up .mole{
    top:-10px
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #04ff00;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\2755';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .timer {
    text-align: center;
    font-size: 3rem;
    color: black;
    margin-bottom: 10px;
}
